src/main/resources/StatementReq.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Rgs">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Statement">
                    <xs:complexType>
                        <xs:sequence>
                             <xs:element name="Header">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="Sender" />
                                        <xs:element type="xs:string" name="Receiver" />
                                        <xs:element type="xs:string" name="MsgId" />
                                        <xs:element type="xs:string" name="MessageType" />
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="RequestSummary">
                                <xs:complexType>
                                <xs:sequence>
                                <xs:element type="xs:string" name="RequestId" />
                                <xs:element type="xs:string" name="CreDtTm" />
                                <xs:element type="xs:long" name="AcctNum" />
                                <xs:element type="xs:date" name="SmDt" />
                                </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
                <xs:element type="xs:string" name="RgsSignature" />
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>